.spaceTokenUpload {
  cursor: pointer;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px 20px;
}

.spaceTokenUpload:hover {
  background-color: #808080;
}

.spaceImage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.spaceImage img {
  display: block;
  margin: 0 auto;
}

.invisibleBorder {
  border: none;
}

.spaceFindAgent {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #fff;
  padding: 10px 20px;
}

.spaceCleanFile {
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #fff;
  padding: 5px 10px;
}
